
'context-menu':
  '[data-path$=hxml]': [
      { label: 'Set as active HXML file', command: 'haxe:set-hxml-file'},
      { type: 'separator' },
  ]
  '[data-path$=xml]': [
      { label: 'Set as active XML file', command: 'haxe:set-xml-file'},
      { type: 'separator' },
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Haxe'
      'submenu': [
        {
          'label': 'Clear active project info'
          'command': 'haxe:clear-project'
        },
        { type: 'separator' },
        {
          'label': 'Start/Reset completion server'
          'command': 'haxe:reset-server'
        },
        {
          'label': 'Stop completion server'
          'command': 'haxe:stop-server'
        },
        { type: 'separator' },
        {
          'label': 'Toggle completion debug'
          'command': 'haxe:toggle-completion-debug'
        },
        {
          'label': 'Toggle log view'
          'command': 'haxe:toggle-log-view'
        }
      ]
    ]
  }
]
