
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Haxe'
      'submenu': [
        {
          'label': 'Clear active project info'
          'command': 'haxe:clear-project'
        },
        { type: 'separator' },
        {
          'label': 'Start/Reset completion server'
          'command': 'haxe:reset-server'
        },
        {
          'label': 'Stop completion server'
          'command': 'haxe:stop-server'
        },
        { type: 'separator' },
        {
          'label': 'Toggle completion debug'
          'command': 'haxe:toggle-completion-debug'
        },
        {
          'label': 'Toggle log view'
          'command': 'haxe:toggle-log-view'
        }
      ]
    ]
  }
]
